header {
    background-image: url("../images/bar.webp");
    background-size: cover; /* L'image couvre toute la surface de l'en-tête */
    background-position: top 50%;
    background-repeat: no-repeat; /* Pas de répétition de l'image d'arrière-plan */
}

#hero {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;    /* Centre verticalement */
    height: 200px;          /* Hauteur de la fenêtre */
}

#title{
    font-family: "Dancing Script", cursive;
    font-size: 60px;
    text-shadow: 0px 0px 4px black;
}

body {
  background-color: black;
  /* Le fond de la page sera noir */
  color: white;
  /* Le texte de la page sera blanc */
  margin: 1 em;
}

.container {
    padding-top: 10px;
}

.neutral{
    list-style-type: none;
    padding-left: 0;

}

.neutral li{
    font-weight: bold;
    color : rgb(231, 185, 19);
}

.p{
    padding-left: 1px;
}

h2{
    padding: 10px;
    border-bottom: 2px solid white;
}

.ul.li{
    text-decoration: none;
}
